body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #333;
    padding: 10px 20px;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-principal ul li {
    margin: 0 15px;
}

.menu-principal ul li a {
    color: white;
    text-decoration: none;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    background-color: #0056b3;
}
